<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCFGmdNSMT4jEbOlEmmWzsKlDw5bDkJ4k</string>
	<key>GCM_SENDER_ID</key>
	<string>35274180556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wafula.teza.tezaRider</string>
	<key>PROJECT_ID</key>
	<string>teza-8af25</string>
	<key>STORAGE_BUCKET</key>
	<string>teza-8af25.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35274180556:ios:f0e4e5e549982f36ebff69</string>
</dict>
</plist>